<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  />
</head>
<body>
    <div class="d-flex flex-column container align-items-center justify-content-center">
        <img src="assets/image/error.svg" alt="">
        <h1 class="mt-4 text-success">PASSWORD YANG ANDA MASUKKAN SALAH</h1>
        <h1 class="mt-4 text-success">SILAHKAN MENCOBA KEMBALI</h1>
        <h1 class="mt-4 text-primary"><a href="/login">LOG IN</a></h1>
    </div>
</body>
<style>
    a {
        text-decoration: none;
    }
</style>
</html>